body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}

/* ========== List ========== */

.list {
  padding: 20px;
  border: solid rgba(121, 121, 121, 0.25);
  border-width: 0 1px;
  height: 100%;
}

.list__list-item {
  list-style: none;
  padding: 0;
}

/* ========== Tasklist ========== */

.tasklist__list-name {
  margin: 0 10px 5px;
  font-family: sans-serif;
  font-weight: 300;
}

.tasklist__new-task-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-size: 0.9em;
  background-color: #252222;
  color: #e4d9d9;
}

/* ========== Task ========== */

.task {
  border-bottom: solid rgba(121, 121, 121, 0.25) 1px;
  width: 100%;
}
