.homepage__container {
  display: grid;
  grid-template-columns: 1fr 4fr 12fr 10fr;
}

/* ========== Tasklist ========== */
.tasklist {
  grid-column: 3;
  border: solid rgba(121, 121, 121, 0.25);
  border-width: 0 1px;
  padding: 20px;
}

.tasklist__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasklist__heading .container-1 {
  display: flex;
  align-items: flex-start;
}

.tasklist__list-name {
  margin: 0 10px 5px;
  font-family: sans-serif;
  font-weight: 300;
}

/* ========== Task ========== */

.task {
  /* border-bottom: solid rgba(121, 121, 121, 0.25) 1px; */
  display: flex;
  gap: 2px;
  width: 100%;
}

.task-info {
  width: 100%;
}

/* ========== Task ========== */
.category-list {
  grid-column: 2;
}

.category-list__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
